*{
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background:linear-gradient(to bottom,rgba(0, 0, 0,0.9),rgba(0, 0, 0, 0.9)), url(../img/gilrs-who-code-feature_xbmfvl.jpeg);
   background-size: cover;

}
.local{
    width: 800px;
    max-width: 80%;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 10px 2px;
}
.local h2{
    color: white;
    text-align: center;
    margin-top: 50px;

}
.Add-Items input[type=text]{
    border-radius:10px ;
    padding: 4px;
    color: #E27396;
    font-size: 18px;
    text-align: center;
    width: 55%;

}
.Add-Items input[type=submit]{
    border-radius:10px ;
    border-style: none;
    padding: 6px;
    background-color: #E27396;
    font-size: 18px;
    color: white;
    text-align: center;
    width: 35%;

}
.plates li{
    color: white;
    font-size: 23px;
}